include configuraciones.pug
doctype html
html
    include head.pug
    body
        include header.pug
        //block sirve para agregar mas codigo en el mismo lv
        block contenidos
        include footer.pug