doctype html
// agregamos atributos con "()"
// y las clases con ".name"
html
    head
        meta(charset="UFT-8")
        link(rel="stylesheet", href="css/ejercicio-pug.css")
    body
        header
            h1 CamoteGames
            a.boton registro 
